.wtwlPage {
    box-sizing: border-box;
    background-color: #e6e7e8;
    color: #313131;
    font-size: 14px;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4em 1em;
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  }

  .wtwlPage .logoWt {
    margin: 4em 1em;
    height: 130px;
  }

  .wtwlPage .text {
    font-size: 14px;
    line-height: 1.75em;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
  }

  .wtwlPage .center {
    text-align: center;
  }

  .wtwlPage .strong {
    font-size: 16px;
    font-weight: bold;
  }

  .wtwlPage .small {
    font-size: 12px;
    padding: 0;
  }

  .wtwlPage .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
  }

  .wtwlPage .noSpaceTop {
    padding-top: 0;
    margin-top: 0;
  }

  .wtwlPage .btnDownload {
    text-transform: uppercase;
    text-align: center;
    background-color: #243875;
    color: #ffffff;
    font-size: 14px;
    padding: 1em 2em;
    margin: 1em;
    text-decoration: none;
  }

  .wtwlPage .btnDownload:hover {
    outline: 1px solid #ffffff;
    opacity: 0.95;
  }

  .wtwlPage .rowImgTxt {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
  }

  .wtwlPage .rowImgTxt.middle {
    align-items: center;
  }

  .wtwlPage .imgContainer {
    position: relative;
    display: flex;
  }

  .wtwlPage .imgContainer .imgLogin {
    width: 282px;
    height: 429.5px;
    margin: 0 75px;
  }

  .wtwlPage .imgContainer .imgSoftware {
    width: 720px;
    height: 405px;
    margin-right: 25px;
    background-color: #909090;
  }

  .wtwlPage .rowImgTxt .textContainer {
    display: flex;
    flex-direction: column;
   
  }
  
  .topic {
    margin-bottom: 0.5em;
    line-height: 1.75em;
    font-size: 14px;
  }

  .wtwlPage .rowImgTxt.features .textContainer .title {
    text-align: unset;
  }

  .wtwlPage .spaceBottom2 {
    margin-bottom: 2rem;
  }

  .wtwlPage .mw700 {
    max-width: 700px;
  }

  .wtwlPage .mw1000 {
    max-width: 1000px;
  }

  .highlight {
    opacity: 1;
  }

  .lowlight {
    opacity: 0.3;
  }
  
  

  .circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-top: 10px;
  }

  .circle-animation {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .circle-animation:hover {
    background-color: #1D469C;
  }

  .circle-animation.id01 {
    top: 305px;
    left: 90px;
  }

  .circle-animation.id02 {
    top: 20px;
    left: 220px;
  }

  .circle-animation.id03 {
    top: 20px;
    left: 240px;
  }

  .circle-animation.id04 {
    top: 20px;
    left: 260px;
  }

  .blink-animation {
    animation: blink 1s infinite alternate;
  }
  @keyframes blink {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5;
    }
  }

  .wtwlPage .hide-desktop {
    display: none;
  }

  @media (max-width: 1085px) {
    .wtwlPage .logoWt {
      height: unset;
      max-height: 200px;
      max-width: 80%;
    }

    .wtwlPage .text {
      margin-bottom: 1em;
      padding: 1em 0;
    }

    .wtwlPage .rowImgTxt {
      flex-direction: column;
    }

    .wtwlPage .rowImgTxt.features {
      flex-direction: column-reverse;
    }

    .wtwlPage .imgContainer .imgLogin {
      width: unset;
      height: unset;
      max-width: 80%;
      max-height: 429.5px;
      margin: 0 auto;
    }

    .wtwlPage .rowImgTxt.middle .textContainer {
      text-align: center;
      max-width: 500px;
      flex-direction: column-reverse;
    }

    .wtwlPage .rowImgTxt.features.mw1000 {
      width: 100%;
    }

    .wtwlPage .rowImgTxt.features .imgContainer {
      width: 100%;
      padding: 0 3em;
      box-sizing: border-box;
    }

    .wtwlPage .rowImgTxt.features .imgContainer .imgSoftware {
      width: 100%;
      height: unset;
      margin: 0 auto;
    }

    .wtwlPage .rowImgTxt.features .textContainer {
      width: 100%;
      padding: 0 3em;
      box-sizing: border-box;
    }

    .wtwlPage .rowImgTxt.features .textContainer .text {
      line-height: 1.75em;
      margin-bottom: 0.5em;
      padding: 0.5em 0;
    }

    .wtwlPage .rowImgTxt.features .textContainer .title {
      line-height: 1.2em;
      text-align: unset;
      margin-bottom: 0;
    }

    .wtwlPage .rowImgTxt.features .textContainer .xl {
      display: none;
    }

    .wtwlPage .hide-desktop {
      display: flex;
    }

  }

  @media (max-width: 420px) {
    .wtwlPage .rowImgTxt.features .imgContainer .circle-animation.id01 {
      padding: 0;
      top: 305px;
      left: 90px;
    }
  }

  .wtwlPage .rowImgTxt.features .textContainer {
    padding: 0;
  }