<section class="listing">

    <a [routerLink]="['/details', housingLocation.id]" class="link ripple">
        <img class="listing-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}" />
    </a>
    <a [routerLink]="['/details', housingLocation.id]" class="link ripple">
        <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    </a>
    <p class="listing-location">{{ housingLocation.city}}, {{housingLocation.state }}</p>
    <a [routerLink]="['/details', housingLocation.id]" class="link arrow">Learn More</a>

</section>