<section class="body-content">


    <div class="logo">
        <img src="/assets/Group 1079.png" alt="logo">
    </div>

    <div class="text-block">
        <h3>Software de trading profissional disponível para usuários de Greenwin!</h3>
        <p class="topictext">O Software permite-lhe tirar mais partido da Exchange.</p>
        <p class="topictext">Com a visualização de escada consegue perceber e antecipar a movimentação do mercado,</p>
        <p class="topictext">realizando antradas ou saídas do mercado com simples clique.</p>
    </div>
    <div>
        <a class="ripple download-button" href="https://www.wagertool.com/media/files/download/WagertoolWhiteLabel.exe"
            download>DOWNLOADD
            WAGERTOOL WHITELABELS</a>
    </div>
    <div>
        <p class="requisitos">Requisitos: sistema operativo Windows</p>
    </div>
    <div class="image-section">
        <div class="image-container">
            <img src="/assets/Group 1057.png" alt="exemple-image" />
            <div class="circle-animation id01" id="circle1" (mouseenter)="addBlinkAnimation('circle1')"
                (mouseleave)="removeBlinkAnimation('circle1')"></div>
        </div>
        <div class="text-block">
            <p class="logintextbold">O software Wagertool "Whitelabels" está disponível para a Greenwin, a custo zero
                para os
                nossos usuários.
            </p>
            <p class="logintextnormal">Faça login com a sua conta Greenwin com toda a segurança da validação em 2-Passos
                com código enviado para
                o seu 1º login.</p>
        </div>
    </div>
    <div class="text-block">

        <p class="title">O que pode encontrar no software de trading Wagertool "Whitelabels"?</p>
    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>
            <div class="circle-animation id02" id="circle2" (mouseenter)="addBlinkAnimation('circle2')"
                (mouseleave)="removeBlinkAnimation('circle2')" (mouseenter)="highlightText('text1')"
                (mouseleave)="resetTextHighlight('text1')">
            </div>
            <div class="circle-animation id03" id="circle3" (mouseenter)="addBlinkAnimation('circle3')"
                (mouseleave)="removeBlinkAnimation('circle3')" (mouseenter)="highlightText('text2')"
                (mouseleave)="resetTextHighlight('text2')">
            </div>
            <div class="circle-animation id04" id="circle4" (mouseenter)="addBlinkAnimation('circle4')"
                (mouseleave)="removeBlinkAnimation('circle4')" (mouseenter)="highlightText('text3')"
                (mouseleave)="resetTextHighlight('text3')">
            </div>
            <div class="circle-animation id05" id="circle5" (mouseenter)="addBlinkAnimation('circle5')"
                (mouseleave)="removeBlinkAnimation('circle5')" (mouseenter)="highlightText('text4')"
                (mouseleave)="resetTextHighlight('text4')">
            </div>
        </div>
        <div>

            <p class="title">JANELA PRINCIPAL</p>

            <div class="text-block2">
                <p id="text1" class="topic">• Cash Out</p>
                <p id="text1">Mercados com apostas em aberto</p>
                <p id="text2" class="topic">• Apostas nao correspondidas</p>
                <p id="text2">Para nunca perder de vista uma stake</p>
                <p id="text3" class="topic">• Lista de desportos favoritos</p>
                <p id="text4" class="topic">• Lista de mercados recentemente abertos</p>
            </div>
        </div>

    </div>
    <div class="text-block">

    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>

        </div>
        <div>
            <p class="title">JANELA DE MERCADOS</p>

            <div class="text-block2">

                <p class="topic">• Filtros personalizados</p>
                <p class="topictext"> Para escolher rapidamente os eventos que mais lhe interessam, com
                    visualização das odds principais
                </p>

            </div>
        </div>
    </div>
    <div class="text-block">

    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>

        </div>
        <div>
            <p class="title">VISUALIZAÇÃO EM ESCADA</p>
            <div class="text-block2">

                <p class="topic">• A vista preferida dos traders, </p>
                <p class="topictext">Um exclusivo dos softwares de trading, não disponível no website</p>

            </div>
        </div>
    </div>
    <div class="text-block">

    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>

        </div>
        <div>
            <p class="title">VISUALIZAÇÃO EM GRELHA</p>

            <div class="text-block2">

                <p class="topic">• Lista de todas as seleções do mercado</p>
                <p class="topictext">Útil em mercados de muitas seleções como o “Resultado
                    correto” em Futebol, ou mercados de corridasMercados com apostas em aberto</p>

            </div>
        </div>
    </div>
    <div class="text-block">

    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>

        </div>
        <div>
            <p class="title">OUTRAS FORMAS DE VISUALIZAÇÃO DO MERCADO:</p>
            <div class="text-block2">
                <p class="topic">• Vista multi-aposta </p>
                <p class="topictext">Duchting, bookmaking</p>
                <p class="topic">• Vista de gráficos avançados</p>
                <p class="topic">• Vista de multi-mercado</p>
                <p class="topictext">Para ver as melhores odds de vários mercados do evento</p>
            </div>
        </div>
    </div>
    <div class="text-block">

    </div>
    <div class="image-section">
        <div class="image-container">
            <div style="width: 720px; height: 360px;background-color: aqua;"></div>

        </div>
        <div>
            <p class="title">CONFIGURAÇÕES COMPLETAS</p>
            <div class="text-block2">
                <p class="topic">• Teclas de atalho</p>
                <p class="topic">• Sons de acções e eventos</p>
                <p class="topic">• Lista de stakes rápidas</p>
                <p class="topic">• Configurações de saída em Cash Out</p>
            </div>
        </div>
    </div>

    <div>
        <a class="ripple download-button2" href="https://www.wagertool.com/media/files/download/WagertoolWhiteLabel.exe"
            download>DOWNLOAD
            WAGERTOOL WHITELABELS</a>
    </div>
    <div>
        <p class="requisitos">Requisitos: sistema operativo Windows</p>
        <p>Wagertool “Whitelabels” é baseado no conhecido software de trading Wagertool(R), e partilha muitas das suas
            funcionalidades.</p>
        <div class="text-block">
            <p>O user guide completo do Wagertool(R) pode ser encontrado aqui.</p>
        </div>
    </div>

</section>