.body-content {
  padding: 100px;
  text-align: center;
  background-color: #E6E7E8;
}

.logo {
  padding: 60px;
}

.text-block {

  padding: 40px 0 40px 40px;
}

.text-block2 {
  padding: 0 0 40px 40px;
  opacity: 1;
}

.title {
  padding: 0 0 10px 40px;
  font-weight: bold;
  font-size: 24px;
}

.logintextbold{
  font-weight: bold;
  font-size: 16px;
}

.logintextnormal{
  font-weight: normal;
  font-size: 16px;
}

.topic {
  padding: 10px 0 10px 0px;
  font-weight: bold;
  font-size: 14px;
}

.topictext {
  font-weight: normal;
  font-size: 14px;
}

.requisitos{
  padding: 0 0 61px 0;
  font-size: 12px;
}



.download-button {
  background-color: #243875;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.download-button2{
  background-color: #243875;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 120px;
}


.image-section {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
  text-align: left;
}

.image-container {
  position: relative;
}

.image-container .circle-animation {
  position: absolute;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;

}

.image-container .circle-animation:hover {
  background-color: #1D469C;
}

.blink-animation {
  animation: blink 1s infinite alternate;
}

.image-container .circle-animation.id01 {
  top: 305px;
  left: 90px;
}

.image-container .circle-animation.id02 {
  top: 20px;
  left: 220px;
}

.image-container .circle-animation.id03 {
  top: 20px;
  left: 240px;
}

.image-container .circle-animation.id04 {
  top: 20px;
  left: 260px;
}

.image-container .circle-animation.id05 {
  top: 20px;
  left: 280px;
}


.highlight {
  opacity: 1;
}

.lowlight {
  opacity: 0.3;
}


@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}


@media (max-width: 768px) {
 
}