:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.header-row{
  display: flex;
  align-items: center;
}
/*.content {
  padding: var(--content-padding);
}
*/