<main>
  <div class="header-row">
    <a [routerLink]="['/']">
      <header class="brand-name">
        <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
      </header>
    </a>
    <a [routerLink]="['/wagertoolv2']" class="link ripple">wagertool</a>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>