<section>
    <form>
        <input type="text" placeholder="Filter by city or name" #filter>
        <button class="primary ripple" type="button" (click)="filterResults(filter.value)">Search</button>
        <button class="other-button ripple" *ngIf="hasFilters" (click)="clearFilters()" style="margin:5px;"  type="button">Clear</button>
    </form>
</section>
<section class="results">
    <app-housing-location *ngFor="let housingLocation of filteredLocationList" [housingLocation]="housingLocation">
    </app-housing-location>
</section>